.title {
  font-size: 4rem !important;
}

.bio {
  font-size: 1.75rem !important;
}

p a {
  text-decoration: underline;
}

.card-img-top {
  min-height: 200px;
  object-fit: cover;
}

img.center {
  display: block;
  margin: 30px auto;
}

.section-header {
  text-decoration: underline;
  font-weight: bold;
}

.project-body {
  margin: 0 50px;
}

@media screen and (max-width: 990px) {
  .resize-pic {
    width: 100%;
  }
}
