.title {
  font-size: 4rem !important;
  font-family: "VT323", monospace;
}

.bio {
  font-size: 1.75rem !important;
}

p a {
  text-decoration: underline;
}

.card-img-top {
  min-height: 200px;
  object-fit: cover;
}

img.center {
  display: block;
  margin: 30px auto;
}

@media screen and (max-width: 990px) {
  .resize-pic {
    width: 100%;
  }
}
